%table
  %thead
    %tr
      %th Date
      %th Venue
  %tbody
    - for meeting in meetings
      %tr
        %td= link_to meeting.date.to_s(:short), meeting_path(meeting)
        %td= meeting.venue
        %td= link_to 'Edit', edit_meeting_path(meeting)
        %td= link_to 'Destroy', meeting, :confirm => 'Are you sure?', :method => :delete