#next_meeting
  %h1 Next Meeting
  - unless @next_meeting.nil?
    = render :partial => "table", :locals => { :meetings => @next_meeting.to_a }
  - else
    No meeting has been scheduled yet

#future_meetings
  %h3 Upcoming Meetings
  - unless @future_meetings.empty?
    = render :partial => "table", :locals => { :meetings => @future_meetings }
  - else
    No meetings have been scheduled yet
    
#past_meetings
  %h3 Previous Meetings
  - unless @past_meetings.empty?
    = render :partial => "table", :locals => { :meetings => @past_meetings }
  - else
    There have not been any meetings yet
    
%p= link_to 'New meeting', new_meeting_path
