body {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px; }

.wrapper {
  width: 950px;
  margin: 0 auto;
  padding: 0;
  text-align: left; }

.content {
  width: 600px;
  float: left;
  margin: 0;
  padding: 0; }

a {
  color: #c31c1c;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

p {
  line-height: 20px;
  text-align: justify; }

pre, .commit_message {
  background-color: #232323;
  border: 1px solid #000000;
  font-family: 'Monaco', 'Courier New', 'Terminal', monospace;
  color: #e6e0db;
  padding: 10px;
  font-size: 14px;
  margin: 20px 0 30px; }

.commit_message {
  margin: 10px 0; }

.commit {
  margin-bottom: 30px; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 22px; }

.snapshot {
  text-align: center; }

.sidebar {
  width: 250px;
  float: right;
  margin: 20px 0 0;
  padding: 0; }

#main {
  margin: 0;
  padding: 0; }
  #main .content {
    margin: 100px 0; }

#peeps {
  margin: 0 0 30px; }
  #peeps .peep {
    background: url(/images/gravatar-bg.png) no-repeat;
    margin: 0;
    width: 100px;
    height: 100px;
    float: left; }
    #peeps .peep img {
      padding: 18px;
      margin: 0; }

#footer {
  clear: both;
  background-color: #000000;
  color: #e6e0db; }
  #footer .content ul {
    margin: 48px 0;
    padding: 0; }
  #footer .content li {
    margin: 0 0 0 5px;
    padding: 0;
    display: inline;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none; }
  #footer .content li:after {
    content:  | ;
    color: #dbdadb; }
  #footer .content a {
    color: #e6e0db;
    text-decoration: underline; }
  #footer .content a:hover {
    color: #c31c1c; }
  #footer .sidebar {
    margin: 0; }

.clearfix {
  clear: both; }
