!!! Strict
%html{:xmlns =>'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %title Canberra Ruby Crew
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'jquery', 'application', :cache => false

  %body
    #wrapper
      #content
        %h1 What's Going On Here?
        %p 
          This is the early beginnings of the Canberra Ruby Crew site which will evolve as we hack on it at our monthly meetings making it do all sorts of crazy and cool things. Right now it does zip all, but you can change that by forking it on
          = link_to 'github', 'http://github.com/artpop/crc_site'
          and sending me a pull request if you want to see your changes go live:
        
        %pre
          git@github.com:artpop/crc_site.git
        
        %h2 Meetings
        %p As for the meetings themselves we are still looking for an appropriate venue as we have outgrown most people's lounge rooms now. We are also tying up some sponsorship to help with the costs of this as well as hosting this site on a slice which we can all experiment with. Meetings are meant to be held on the last Friday of the month however we are unlikely to make it for July so we are looking to have everything running smoothly for August.
      
      #sidebar
        = image_tag 'crc.png'